apiVersion: v1
kind: Service
metadata:
  name: crud-service
  labels:
    app: my-app
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80            # Port that the service exposes
      targetPort: 80      # Port your container listens on
  type: ClusterIP        # Internal service reachable only inside the cluster
